*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 15%, 48%);
}

.container{
    width: 16%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 30px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    border-radius: 30px;
    padding: 0 21px;
}

img{
    width: 260px;
    height: 260px;
    border-radius: 30px;
    margin-top: -50px;
}

h3{
    font-weight: 700;
}

p{
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px;
    font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 375px) {
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .container{
        width: 16%;
    }
}

